#!/bin/sh
mosquitto_pub -h $MQTT_HOST -p $MQTT_PORT -u $MQTT_USER -pw $MQTT_PASSWORD -t $MQTT_TOPIC/$C2 -m $2
mosquitto_pub -h $MQTT_HOST -p $MQTT_PORT -u $MQTT_USER -pw $MQTT_PASSWORD -t $MQTT_TOPIC/$C3 -m $3
mosquitto_pub -h $MQTT_HOST -p $MQTT_PORT -u $MQTT_USER -pw $MQTT_PASSWORD -t $MQTT_TOPIC/$C4 -m $4
mosquitto_pub -h $MQTT_HOST -p $MQTT_PORT -u $MQTT_USER -pw $MQTT_PASSWORD -t $MQTT_TOPIC/$C5 -m $5
mosquitto_pub -h $MQTT_HOST -p $MQTT_PORT -u $MQTT_USER -pw $MQTT_PASSWORD -t $MQTT_TOPIC/$C6 -m $6
mosquitto_pub -h $MQTT_HOST -p $MQTT_PORT -u $MQTT_USER -pw $MQTT_PASSWORD -t $MQTT_TOPIC/$C7 -m $7
mosquitto_pub -h $MQTT_HOST -p $MQTT_PORT -u $MQTT_USER -pw $MQTT_PASSWORD -t $MQTT_TOPIC/$C8 -m $8
mosquitto_pub -h $MQTT_HOST -p $MQTT_PORT -u $MQTT_USER -pw $MQTT_PASSWORD -t $MQTT_TOPIC/$C9 -m $9
mosquitto_pub -h $MQTT_HOST -p $MQTT_PORT -u $MQTT_USER -pw $MQTT_PASSWORD -t $MQTT_TOPIC/$C10 -m $10
mosquitto_pub -h $MQTT_HOST -p $MQTT_PORT -u $MQTT_USER -pw $MQTT_PASSWORD -t $MQTT_TOPIC/$C12 -m $R12
